body {
    background-image: url("https://img.freepik.com/foto-gratis/diseno-espacio-papel-texturado-fondo_53876-34033.jpg");style="width: 30%; height: 350px;" class="border border-light">
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  }

element.style {
  background-color: #eeeeaf;
}
.bg-light {
  background-color: #eeeeaf!important;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }

  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }
/*.color{
  background-image:url("https://img.freepik.com/foto-gratis/diseno-espacio-papel-texturado-fondo_53876-34033.jpg");
}*/

